*{
	margin: 0;
	padding: 0;
}

body{
	width: 100%;
	height: 100%;
	background-color: #EFF2F7;
}

select{
	appearance:none;
	-moz-appearance:none;
	-webkit-appearance:none;
}	
	
select::-ms-expand { display: none; }

table{
	border-collapse:collapse;
}

.addTrain-page{
	width: 100%;
	height: 100%;
	background-color: #fff;
}

.addTrain-box{
	padding-left: 40px;
	padding-top: 40px;
	overflow: hidden;
}

.addTrain-page p{
	width:64px;
	height:14px;
	font-size:16px;
	color:rgba(103,194,58,1);
	line-height:14px;
	margin-bottom: 30px;
}

.message-item{
	margin-bottom: 14px;
}

.message-item span{
	display: inline-block;
	width: 56px;
	font-size: 14px;
	line-height: 18px;
	color: rgba(74,74,74,1);
	margin-right: 12px;
}

.message-item select{
	width:507px;
	height:34px;
	font-size: 14px;
	color: #4A4A4A;
	background:rgba(255,255,255,1);
	border-radius:2px;
	border:1px solid rgba(189,189,189,1);
	background-image: url(../img/drop-downbtn.png);
	background-repeat: no-repeat;
	background-position: 470px center;
	padding-right: 38px;
	padding-left: 10px;
}

.message-item input{
	display: inline-block;
	width:500px;
	height:32px;
	background:rgba(255,255,255,1);
	border-radius:2px;
	border:1px solid rgba(189,189,189,1);
	padding-left: 5px;
	
}

.video-action{
	margin-top: 8px;
}

.chooseVideo span{
	display: inline-block;
	width: 93px;
	font-size:14px;
	color:rgba(103,194,58,1);
	line-height:19px;
}

.chooseVideo{
	display: inline-block;
}

.chooseVideoBox{
	margin-left: 72px;
	margin-top: 10px;
	margin-top: 20px;
	text-align: left;
}

.content-box{
	overflow: hidden;
}

.trainSummary{
	margin-top: 20px;
	overflow: hidden;
}

.trainSummary textarea{
	display: block;
	width: 70%;
	max-height: 400px;
	min-height: 38px;
	background-color: #EFF2F7;
	border: none;
}

.submitBox{
	margin-top: 20px;
	border-top: 1px solid #E0E6ED;
	width: 428px;
	overflow: hidden;
}

.submitBox button{
	float: left;
	margin-top: 20px;
	margin-right: 20px;
}

.submitBtn{
	width:88px;
	height:36px;
	font-size:14px;
	color: #fff;
	line-height: 36px;
	background:rgba(103,194,58,1);
	border-radius:2px;
	border: none;
}

.cancel{
	width:64px;
	height:36px;
	border-radius:2px;
	font-size:14px;
	color:rgba(31,45,61,1);
	line-height: 36px;
	border:1px solid rgba(196,196,196,1);
}

.maskLayer{
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	background:rgba(0,0,0,0.2);
	z-index: 99;
	display: none;
}

.actionChoose{
	position: absolute;
	left: 200px;
	right: 0;
	top: 0;
	bottom: 0;
	margin:auto;
	width: 50%;
	height: 50%;
	background-color: #fff;
	opacity: 1;
	overflow: hidden;
	box-shadow:0px 4px 8px 0px rgba(0,0,0,0.1);
	border-radius:4px;
}

.actionChoose_title{
	width: 100%;
	height: 50px;
	background: rgba(40,51,69,1);
	border-radius:4px 4px 0px 0px;
}

.actionChoose_title label{
	font-size:14px;
	font-family:MicrosoftYaHei;
	color:rgba(255,255,255,1);
	line-height:50px;
	margin-left: 30px;
}

.actionChoose_search{
	width: 100%;
	height: 50px;
	position: relative;
}

.search_content{
	float: left;
	margin-left: 30px;
}

.search_content label{
	font-size:13px;
	font-family:MicrosoftYaHeiUI;
	color:rgba(74,74,74,1);
	line-height:50px;
}

.search_content input{
	display: inline-block;
	width:195px;
	height:32px;
	background:rgba(255,255,255,1);
	border-radius:2px;
	border:1px solid rgba(189,189,189,1);
	padding-left: 5px;
}

.search_content select{
	width:150px;
	height:32px;
	font-size: 13px;
	color: #4A4A4A;
	background:rgba(255,255,255,1);
	border-radius:2px;
	border:1px solid rgba(189,189,189,1);
	background-image: url(../img/drop-downbtn.png);
	background-repeat: no-repeat;
	background-position: 124px center;
	padding-right: 26px;
	padding-left: 14px;
}

.actionChoose_search button{
	width:80px;
	height:32px;
	font-size: 14px;
	color: #fff;
	line-height: 32px;
	background:rgba(103,194,58,1);
	border: 0px;
	border-radius:2px;
	position: absolute;
	top: 0;
	bottom: 0;
	margin: auto;
	margin-left: 20px;
}

.actionChoose_list{
	width: 100%;
}

.actionChoose_listContent{
	width: 100%;
}

.actionChoose_listContent tbody tr{
	height: 50px;
	font-size: 13px;
	line-height: 50px;
	text-align: left;
	color: rgba(74,74,74,1);
	background-color: #fff;
	border-bottom: 1px solid #E0E6ED;
}

.actionChoose_item:hover{
	background:rgba(220,220,220,1);
}

.action_img{
	
	width: 15%;
}

.action_img img{
	margin-left: 30px;
}

.action_name{
	width: 10%;
}

.action_num{
	width: 10%;
}

.action_time{
	width: 10%;
}

.action_apparatus{
	width: 15%;
}