*{
	margin: 0;
	padding: 0;
}

/* 1.开始*/
.margin0 {
  margin: 0px !important;
}

.marginL15 {
  margin-left: 15px !important;
}

.marginL18 {
  margin-left: 18px !important;
}

.marginL25 {
  margin-left: 25px !important;
}

.marginL30 {
  margin-left: 30px !important;
}

.marginL40 {
  margin-left: 40px !important;
}

.marginR15 {
  margin-right: 15px !important;
}

.marginR18 {
  margin-right: 18px !important;
}

.marginR24 {
  margin-right: 24px !important;
}

.marginR30 {
  margin-right: 30px !important;
}

.marginR37 {
  margin-right: 37px !important;
}

.marginR40 {
  margin-right: 40px !important;
}

.marginR50 {
  margin-right: 50px !important;
}

.marginR55 {
  margin-right: 55px !important;
}
.marginB10{
    margin-bottom:10px!important;
}



.padding0{
  padding:0px!important;
}
.padding1_3{
  padding:1px 3px!important;
}
.paddingL0{
  padding-left: 0px!important;
}
.paddingL10{
  padding-left: 10px!important;
}
.paddingL20 {
  padding-left: 20px !important;
}

.paddingL30 {
  padding-left: 30px !important;
}

.paddingL40 {
  padding-left: 40px !important;
}
.paddingL50{
    padding-left: 50px!important;
}
.paddingL60{
    padding-left: 60px!important;
}
.paddingL70{
    padding-left: 70px!important;
}

.text_left{
    text-align: left!important;
}
.text_center{
    text-align: center!important;
}
.text_right{
    text-align: right!important;
}
.width100{
  width: 100%!important;
}
.width_250 {
    min-width: 250px;
    display: flex;
    flex-wrap: nowrap;
    height: 64px;
    align-items: center;
}
.row_center{
    display: flex!important;
    flex-direction: row!important;
    justify-items: center!important;
}
.no_image{
    background-image: none!important;
}
.background_fff{
  background: #fff!important;
}
.input-group-addon{
  border-radius: 2px!important;

}
.display_none{
	display: none;
}
.disaplay_block{
	display: block;
}
/* 1.结束*/
html,body{
	background-color: #EFF2F7;
	height: 100%;
	min-width: 1358px;
	font-family: "Arial", "Microsoft YaHei", "黑体", "宋体", sans-serif;
	overflow: auto;
}

a{
	text-decoration:none;
}

.nav{
	z-index: 9;
	width: 100%;
	height: 60px;
	background-color: #fff;
	position: relative;
}

.logo{
	margin-left: 20px;
	float: left;
	height: 100%;
	overflow: hidden;
	position: relative;
}

.logo img{
	display: inline-block;
	float: left;
	width: 30px;
	height: 30px;
	position: absolute;
	margin: auto;
	top: 0;
	bottom: 0;
}

.logo span{
	clear: both;
	display: inline-block;
	float: left;
	font-family:HelveticaNeue-Bold;
	font-size: 18px;
	font-weight: bold;
	color: #324057;
	line-height: 60px;
	margin-left: 38px;
}

.positionNav{
	margin-left: 91px;
	float: left;
	overflow: hidden;
}

.personalList{
	float: right;
	height: 100%;
	overflow: hidden;
}

.personalList a{
	float: left;
	height: 100%;
	margin-right: 32px;
	display: inline-block;
	line-height: 60px;
}

.personalList a img{
	vertical-align: middle;
}

.avatar img{
	width: 30px;
	height: 30px;
}

.sideNav{
	width:200px;
	min-height:100%;
	min-height:-moz-calc(100% - 60px);
	min-height:-webkit-calc(100% - 60px);
	min-height: calc(100% - 60px);
	background:rgba(50,64,87,1);
	border-radius:2px;
	position: relative;
	bottom: 0;
	overflow: auto;
	float: left;

}

.emptyBox{
	margin-top: 10px;
}

.sideNav-item{
	display: flex;
    justify-content: center;
    align-items: center;
	width: 100%;
	height: 56px;
	font-size:14px;
	color: #C0CCDA;
	background-repeat: no-repeat;
	background-position: 20px center;
}

.sideNav-item a{
	margin-left: 48px;
	line-height: 56px;
}

.sideNav-item img{
	margin-left: 60px;
	vertical-align: middle;
}

.newManagement{
	background-image: url(../img/message_icon.png);
}
.noticeManagement{
	background-image: url(../img/message_icon.png);
}

.rewardManagement{
	background-image: url(../img/setUp1.png);
}
.formManagement{
	background-image: url(../img/setUp1.png);
}
.contract{
	background-image: url(../img/setUp1.png);
}

.staffManagement{
	background-image: url(../img/classification.png);
}

.trainManagement{
	background-image: url(../img/setUp1.png);
}
.actived{
	background-color: #475669;
}


.mainContent{
	float: left;
	width: 94%;/*写给不支持calc()的浏览器*/
	width:-moz-calc(100% - 200px - 10px * 2);
	width:-webkit-calc(100% - 200px - 10px * 2);
	width: calc(100% - 200px - 10px * 2);
	min-height: 90%;/*写给不支持calc()的浏览器*/
	min-height:-moz-calc(100% - 60px - 10px * 2);
	min-height:-webkit-calc(100% - 60px - 10px * 2);
	min-height: calc(100% - 60px - 10px * 2);
	margin: 10px;
}